.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-container-app{
  display: flex;
  margin: 2%;
}
.navbar-container{
  margin-top: 5%;
}
.main-container-topBar{
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px rgba(228, 232, 234, 0.62);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.uberText{
    font-family: 'Fahkwang', sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0,0,0,.87);
    margin-top: 1%;
    margin-left: 2%;
}
.ui.secondary.vertical.pointing.menu .item{
  margin-bottom: 10% !important;
}
.registrationForm-Container{
  width: 80%;
  margin: auto;
  padding: 3%;
  border-radius: 3px;
  border: solid 2px #ffffff;
  background-color: #000000;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
  justify-content: space-between;
  align-items: center;
}
.registrationForm-Container-modal{
  margin: auto;
  padding: 3%;
  border-radius: 3px;
  border: solid 2px #ffffff;
  background-color: #000000;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
  justify-content: space-between;
  align-items: center;
}
.formContainer-modal{
  width: 80% !important;
  margin: auto !important;
}
.formContainer-modal> div  > label{
    color: #ffffff !important;
}
.registrationForm-Container-upper-container{
  display: flex;
  padding: 10px 20px;
  border-bottom: solid 1px #ffffff;
  flex-wrap: wrap;
  justify-content: space-between;
    color: #ffffff;
}
.registrationForm-Container-upper-container-text{
  align-self: center;
}
.registrationForm-Container-upper-container-button{
  align-self: center;
}
.registrationForm-Container-upper-container-button > Button {
  background-color: rgba(228, 232, 234, 0.10);
  color: #ffffff !important;
  border: solid 1px rgba(228, 232, 234, 0.10);
}
.registrationForm-Container-upper-container-button > Button:hover {
  background-color: #ffffff !important;
  color: rgba(228, 232, 234, 0.10) !important;
  border: solid 1px rgba(228, 232, 234, 0.10);
}
.registrationForm-Container-upper-container-first-text {
  font-family: 'Fahkwang', sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.registrationForm-Container-upper-container-second-text {
  font-size: 1em;
  line-height: 1.25;
  color: #ffffff;
}

.ui.dropdown .menu{
  width: 100% !important;

}
.home-container{
  font-family: 'Fahkwang', sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  width: 90% !important;
  margin: auto;
  margin-top: 2%;
}
.home-second-container{
  font-family: 'Fahkwang', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  width: 90%;
  margin: auto;
  margin-top: 3%;
}
.home-second-container > a:hover{
  text-decoration: underline;
}
.home-third-container {
  font-family: 'Fahkwang', sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #bebebe;
  width: 50%;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 1%;
}
.home-third-container:hover{
  text-decoration: underline;
  cursor: pointer;
  color: #ffffff;
}
.topbar-text{
  font-family: 'Fahkwang', sans-serif;
  font-size: 1.4em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0,0,0,.87);
  margin-top: 1%;
  margin-right: 2%;
  display: flex;
}
.topbar-cart-container{
  margin-right: 20px !important;
}
.formContainer{
    min-height: 60vh !important;
    width: 60% !important;
    margin: auto !important;
}
.formContainer> div  > label{
    color: #ffffff !important;
}
.ui.dropdown{
  background-color: #ffffff !important;
  border-radius: 3px !important;
}
.formContainer> div > div > label{
 color: #ffffff !important;
}
.formContainer > h2{
  color: #ffffff !important;
}
.ui.button{
  background-color: #000000 !important;
  color: #ffffff !important;
  border: solid 2px #ffffff !important;
}
.ui.button:hover{
  background-color: #ffffff !important;
  color: #000000 !important;
}
.david{
  color: #d0021b !important;
}
.appointment-tab > div > a{
  color: #ffffff !important;
}
.appointment-tab > div > a.active{
  border-bottom: solid 1px #ffffff!important;
}
.loader-container{
  margin: auto !important;
  padding: 5% !important;
}
.footerTab{
  display: flex;
  justify-content: space-between;
  margin-top: 8%;
}
.dropdown-flex{
  display: flex;
}
#notfound {
    position: relative;
    height: 75vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 520px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
}

.notfound .notfound-404 {
    height: 190px;
}

.notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 146px;
    font-weight: 700;
    margin: 0px;
    color: #ffffff;
}

.notfound .notfound-404 h1>span {
    display: inline-block;
    width: 120px;
    height: 120px;
    background-image: url('./images/emoji.png');
    background-size: cover;
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    z-index: -1;
}

.notfound h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    color: #ffffff;
}

.notfound p {
    font-family: 'Montserrat', sans-serif;
    color: #787878;
    font-weight: 300;
}

.notfound a {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: 12px 30px;
    font-weight: 700;
    background-color: #f99827;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.notfound a:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
        height: 115px;
    }
    .notfound .notfound-404 h1 {
        font-size: 86px;
    }
    .notfound .notfound-404 h1>span {
        width: 86px;
        height: 86px;
    }
}

